<!--新闻版块-->
<script src="../../../../../../Douban/app/top250/controller第一次单一控制器.js"></script>
<div id="newsContent">
    <!--轮播图-->
    <div id="newsShow" lunbo>
        <ul id="ShowImg" >
            <li ng-repeat="slide in slides"><a href="#/message"><img ng-src="{{slide.image}}" alt=""></a></li>
        </ul>
        <div id="ShowTitle">
            <p>台山最前线正在上线啦！！</p>
        </div>
    </div>

    <!--新闻版块-->
    <div id="newsBody" class="clearfix">
    <div id="newsModel">
        <p>台山新闻</p>
    </div>
    <div id="newsList">
        <div class="newsSum" ng-repeat="data in data">
            <a href="#/message">
            <div class="newsSumTitle">{{ data.newsTitle }}</div>
            <div class="newsSumImg"><img src="images/2.jpg" alt=""></div>
            <div class="newsSumBot">
                <div class="newsGood"><p class="icon-heart"></p><pre>{{data.newsGood}}</pre></div>
                <div class="newsCom"><p class="icon-heart-broken"></p><pre>{{data.newsBad}}</pre></div>
                <div class="newsLook"><p class="icon-eye"></p><pre>{{data.newsLooks}}</pre></div>
                <div class="newsDate">{{data.newsTime}} 发布</div>
            </div>
            </a>
        </div>


    </div>

</div>

</div>